@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

/* Apply Merriweather to the body or any specific element */

*{
  padding: 0;
  margin: 0;
  /* font-family: 'Merriweather', serif; */
}

.container{
  padding: 100 20px;
  min-height: 100vh;
  height: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: row ;
  padding: 20px;
  flex-grow: 1;
  justify-content: space-between;
  
}

.display {
  height: 100%;
}

button {
  background:none;
  border: none;

}

.icon {
  width: 15px;
}

trash.icon:hover {
  opacity: 0.8;
}
